/**
 * @name Nocturnal Square
 * @author Spectra#7698 & KawaiiBiscuit#8596 & VeivVovi#2017
 * @version 3.0 AutoUpdate
 * @description A simple & clean dark theme for thoses who live at night, made to be easy on the eye. Fixed & reworked by KawaiiBiscuit#8596, fixed class names by VeivVovi#2017.
 * @source https://github.com/VeivVovi15022007/Nocturnal-Discord-theme
 * @authorLink https://discordhub.com/profile/367510031484190730
 * @donate https://www.donationalerts.com/r/flashal
 * @authorId 725229477713674290, 367510031484190730
 * @invite 7GTyYnD7Ke
*/
@import url("https://veivvovi15022007.github.io/Nocturnal-Discord-theme/nocturnal/importCSS/square_core.css");
