@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url("https://codedotspectra.github.io/themes/core/custom-font.css");
@import url("https://codedotspectra.github.io/themes/core/hljs.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
:root {
  --customFont: "Open Sans";
}
.sidebar-nqHbhN .side-2ur1Qk #bd-settings-sidebar .ui-tab-bar-item:not(.role-3pGE29)::before,
.side-2ur1Qk .item-3XjbnG:not(.role-3pGE29)::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain!important;
    background-repeat: no-repeat;
    background-position: center;  
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
}
.side-2ur1Qk .item-3XjbnG {padding-left: 40px !important;}
div[aria-label="GUILD_SETTINGS"] .side-2ur1Qk .item-3XjbnG {padding-left: 10px;}

.side-2ur1Qk .item-3XjbnG:nth-child(2)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/account.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(4)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/privacy.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(5)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/apps.png');} 
.side-2ur1Qk .item-3XjbnG:nth-child(7)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/connections.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(11)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/nitro.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(12)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/boost.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(13)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/billing.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(14)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/gift.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(15)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/billing.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(18)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/eye.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(19)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/bandages.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(20)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/voice.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(21)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/text.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(22)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/notifications.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(23)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/keybinds.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(24)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/language.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(25)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/windows.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(26)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/twitch.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(31)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/games.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(32)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/overlay.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(33)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/core.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(34)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/emote.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(36)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/css.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(37)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/css.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(38)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/plugins.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(39)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/theme.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(41)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/changelog.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(42)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/hype.png');}
.side-2ur1Qk .item-3XjbnG:nth-child(44)::before{background:url('https://veivvovi15022007.github.io/Nocturnal-Discord-theme/icons/logout.png');}
